/* make scrolling smoother */
html {
  scroll-behavior: smooth;
}
/*Increase line spacing to make reading smoother*/
body {
  line-height: 1.6;
}

/* Prevent sticky navbar from covering section headings*/
section {
  scroll-margin-top: var(--nav-offset);
}

/* main section*/
main {
    /*Make main Element take surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 0;
}

/* Hero Section */

#hero {
    height: 800px;
    width: 100%;
    background: center / cover no-repeat url(../images/hero-image.webp);
}